<br>
<div class="card">
    <div class="card-header">
        Hello <%= student[0].name %>!
    </div>
    <div class="card-body">
      <h5 class="card-title">Name: <%= student[0].name %></h5>
      <p class="card-text">Here is your rollno <%= student[0].rollno %></p>
      <a href="/student" class="btn btn-primary">Back</a>
    </div>
  </div>